<div class='content-wrapper'>
  <div class='tabs'>
    <div class='tabs-container'>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true"><span>Info</span></a>
        <a class="nav-item nav-link" id="nav-labs-tab" data-toggle="tab" data-consist='datatable' href="#nav-labs" role="tab" aria-controls="nav-labs" aria-selected="false"><span>Labs</span></a>
        <a class="nav-item nav-link" id="nav-tests-tab" data-toggle="tab" href="#nav-tests" role="tab" aria-controls="nav-tests" aria-selected="false"><span>Tests</span></a>
        <a class="nav-item nav-link" id="nav-vitals-tab" data-toggle="tab" href="#nav-vitals" role="tab" aria-controls="nav-vitals" aria-selected="false"><span>Vitals</span></a>
        <a class="nav-item nav-link" id="nav-meds-tab" data-toggle="tab" href="#nav-meds" role="tab" aria-controls="nav-meds" aria-selected="false"><span>Meds</span></a>
        <a class="nav-item nav-link" id="nav-vaccine-tab" data-toggle="tab" href="#nav-vaccine" role="tab" aria-controls="nav-vaccine" aria-selected="false"><span>Vaccines</span></a>
        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false"><span>Notes</span></a>
        <a class="nav-item nav-link" id="nav-histories-tab" data-toggle="tab" href="#nav-histories" role="tab" aria-controls="nav-histories" aria-selected="false"><span>Histories</span></a>
        <a class="nav-item nav-link" id="nav-images-tab" data-toggle="tab" href="#nav-images" role="tab" aria-controls="nav-images" aria-selected="false"><span>Images</span></a>
        <a class="nav-item nav-link" id="nav-todo-tab" data-toggle="tab" href="#nav-todo" role="tab" aria-controls="nav-todo" aria-selected="false"><span>Todo</span></a>
        <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false"><span>Requests</span></a>
        <a class="nav-item nav-link" id="nav-customforms-tab" data-toggle="tab" href="#nav-customforms" role="tab" aria-controls="nav-customforms" aria-selected="false"><span>Custom Forms</span></a>
        <a class="nav-item nav-link" id="nav-customdraw-tab" data-toggle="tab" href="#nav-customdraw" role="tab" aria-controls="nav-customdraw" aria-selected="false"><span>Custom Draw</span></a>
      </div>
    </div>
    <div class='content-body'>
      <div class="tab-content">
        <div class="tab-pane show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
          <%- include('../panels/patient-info'); -%>
        </div>
        <div class="tab-pane" id="nav-labs" role="tabpanel" aria-labelledby="nav-labs-tab">
          <%- include('../panels/patient-labs'); -%>
        </div>
        <div class="tab-pane" id="nav-tests" role="tabpanel" aria-labelledby="nav-tests-tab">
          <%- include('../panels/patient-tests'); -%>
        </div>
        <div class="tab-pane" id="nav-vitals" role="tabpanel" aria-labelledby="nav-vitals-tab">
          <%- include('../panels/patient-vitals'); -%>
        </div>
        <div class="tab-pane" id="nav-meds" role="tabpanel" aria-labelledby="nav-meds-tab">
          <%- include('../panels/patient-meds'); -%>
        </div>
        <div class="tab-pane" id="nav-vaccine" role="tabpanel" aria-labelledby="nav-vaccine-tab">
          <%- include('../panels/patient-vaccine'); -%>
        </div>
        <div class="tab-pane" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
          <%- include('../panels/patient-notes'); -%>
        </div>
        <div class="tab-pane" id="nav-histories" role="tabpanel" aria-labelledby="nav-histories-tab">
          <%- include('../panels/patient-histories'); -%>
        </div>
        <div class="tab-pane" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
          <%- include('../panels/patient-images'); -%>
        </div>
        <div class="tab-pane" id="nav-todo" role="tabpanel" aria-labelledby="nav-todo-tab">
          <%- include('../panels/patient-todo'); -%>
        </div>
        <div class="tab-pane" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab">
          <%- include('../panels/patient-requests'); -%>
        </div>
        <div class="tab-pane" id="nav-customforms" role="tabpanel" aria-labelledby="nav-customforms-tab">
          <%- include('../panels/patient-customforms'); -%>
        </div>
        <div class="tab-pane" id="nav-customdraw" role="tabpanel" aria-labelledby="nav-customdraw-tab">
          <%- include('../panels/patient-customdraw'); -%>
        </div>
      </div>
    </div>
  </div>
</div>