<div class='content-wrapper'>
  <div class='tabs'>
    <div class='tabs-container'>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Info</a>
        <a class="nav-item nav-link" id="nav-labs-tab" data-toggle="tab" data-consist='datatable' href="#nav-labs" role="tab" aria-controls="nav-labs" aria-selected="false">Labs</a>
        <a class="nav-item nav-link" id="nav-tests-tab" data-toggle="tab" href="#nav-tests" role="tab" aria-controls="nav-tests" aria-selected="false">Tests</a>
        <a class="nav-item nav-link" id="nav-vitals-tab" data-toggle="tab" href="#nav-vitals" role="tab" aria-controls="nav-vitals" aria-selected="false">Vitals</a>
        <a class="nav-item nav-link" id="nav-meds-tab" data-toggle="tab" href="#nav-meds" role="tab" aria-controls="nav-meds" aria-selected="false">Meds</a>
        <a class="nav-item nav-link" id="nav-vaccines-tab" data-toggle="tab" href="#nav-vaccines" role="tab" aria-controls="nav-vaccines" aria-selected="false">Vaccines</a>
        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
        <a class="nav-item nav-link" id="nav-histories-tab" data-toggle="tab" href="#nav-histories" role="tab" aria-controls="nav-histories" aria-selected="false">Histories</a>
        <a class="nav-item nav-link" id="nav-images-tab" data-toggle="tab" href="#nav-images" role="tab" aria-controls="nav-images" aria-selected="false">Images</a>
        <a class="nav-item nav-link" id="nav-todo-tab" data-toggle="tab" href="#nav-todo" role="tab" aria-controls="nav-todo" aria-selected="false">Todo</a>
        <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false">Requests</a>
        <a class="nav-item nav-link" id="nav-customforms-tab" data-toggle="tab" href="#nav-customforms" role="tab" aria-controls="nav-customforms" aria-selected="false">Custom Forms</a>
        <a class="nav-item nav-link" id="nav-customdraw-tab" data-toggle="tab" href="#nav-customdraw" role="tab" aria-controls="nav-customdraw" aria-selected="false">Custom Draw</a>
      </div>
    </div>
    <div class='content-body'>
      <div class="tab-content">
        <div class="tab-pane show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
          <%- include('../panels/patient-info'); -%>
        </div>
        <div class="tab-pane" id="nav-labs" role="tabpanel" aria-labelledby="nav-labs-tab">
          <%- include('../panels/patient-labs'); -%>
        </div>
        <div class="tab-pane" id="nav-tests" role="tabpanel" aria-labelledby="nav-tests-tab">
          <%- include('../panels/patient-tests'); -%>
        </div>
        <div class="tab-pane" id="nav-vitals" role="tabpanel" aria-labelledby="nav-vitals-tab">
          <%- include('../panels/patient-vitals'); -%>
        </div>
        <div class="tab-pane" id="nav-meds" role="tabpanel" aria-labelledby="nav-meds-tab">
          <%- include('../panels/patient-meds'); -%>
        </div>
      </div>
    </div>
  </div>
</div>