
          <ul class='list userlist list-selectable'>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Tambling, Jack</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09171231231</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09184444441</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Wong, Sam Ting</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09154891284</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Oplok, Ken</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09191932895</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Tambling, Jack</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09171231231</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09184444441</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Wong, Sam Ting</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09154891284</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Oplok, Ken</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09191932895</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Tambling, Jack</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09171231231</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09184444441</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Wong, Sam Ting</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09154891284</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Oplok, Ken</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09191932895</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Tambling, Jack</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09171231231</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09184444441</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Wong, Sam Ting</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09154891284</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Oplok, Ken</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09191932895</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Tambling, Jack</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09171231231</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Yopay, Manu asd fasdfasdfasdfasdf</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09184444441</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Wong, Sam Ting</span>
                  <span class='secondary'>
                    NAS
                    <span class='phone'>09154891284</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
            <li class='list-item'>
              <button class='list-link'>
                <div class='avatar xs'>
                  <img src='/img/default_photo.jpg' />
                </div>
                <div class='list-context'>
                  <span class='primary-text'>Oplok, Ken</span>
                  <span class='secondary'>
                    NAC
                    <span class='phone'>09191932895</span>
                  </span>
                </div>
              </button>

              <%- include('../dropdown/patients-list-menu'); -%>
            </li>
          </ul>