<% 
__PAGE__ = 'patients';
__CONTENT__ = '../templates/content/patients-content';
__ASIDE__ = '../templates/asides/patients-asides';
__FAB__ = '../templates/fabs/patients-fab';
%> 

<%- include('../templates/header'); -%>

<div class='main'>
  <%- include('../templates/navbar'); -%>

  <%- include('../templates/sidebar'); -%>

  <div class='content <% if (__ASIDE__ != '') { %>has-aside<% } %>'>
    <% if (__ASIDE__ != '') { %>
    <%- include(__ASIDE__); -%>
    <% } %>

    <% if (__FAB__ != '') { %>
    <%- include(__FAB__); -%>
    <% } %>
    
    <div class='content-wrapper'></div>
  </div>

</div>

<%- include('../templates/footer'); -%>