<% 
__PAGE__ = 'inventory'
__ASIDE__ = ''
__FAB__ = ''
%> 

<%- include('../templates/header'); -%>

<div class='main'>
  <%- include('../templates/navbar'); -%>

  <%- include('../templates/sidebar'); -%>

  <div class='content <% if (__ASIDE__ != '') { %>has-aside<% } %>'>
    <% if (__ASIDE__ != '') { %>
    <%- include(__ASIDE__); -%>
    <% } %>

    <% if (__FAB__ != '') { %>
    <%- include(__FAB__); -%>
    <% } %>

    <div class='context'>
      <div class='context-container'>
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit nemo error et facere dolore optio illo impedit dolor, omnis, dolorum voluptatibus deleniti? At ipsum officia earum nobis vitae? Modi.</p>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
        <div style='width: 100%; height: 500px; background-color: gray; margin-bottom: 2rem'></div>
      </div>
    </div>
  </div>

</div>

<%- include('../templates/footer'); -%>