<% 
__PAGE__ = 'inventory'
__ASIDE__ = ''
__FAB__ = ''
%> 

<%- include('../templates/header'); -%>

<div class='main'>
  <%- include('../templates/navbar'); -%>

  <%- include('../templates/sidebar'); -%>

  <div class='content <% if (__ASIDE__ != '') { %>has-aside<% } %>'>
    <% if (__ASIDE__ != '') { %>
    <%- include(__ASIDE__); -%>
    <% } %>

    <% if (__FAB__ != '') { %>
    <%- include(__FAB__); -%>
    <% } %>
    
    <%- include('../templates/content/inventory-content'); -%>
  </div>

</div>

<%- include('../templates/footer'); -%>