<% 
__FAB__ = '../../templates/fabs/inventory-fab';
%>   
  <div class='tabs'>
    <div class='tabs-container'>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-warehouses-tab" data-toggle="tab" href="#nav-warehouses" role="tab" aria-controls="nav-warehouses" aria-selected="true"><span>Warehouses</span></a>
        <a class="nav-item nav-link" id="nav-items-tab" data-toggle="tab" href="#nav-items" role="tab" aria-controls="nav-items" aria-selected="false"><span>Items</span></a>
        <a class="nav-item nav-link" id="nav-receiving-tab" data-toggle="tab" href="#nav-receiving" role="tab" aria-controls="nav-receiving" aria-selected="false"><span>Receiving</span></a>
        <a class="nav-item nav-link" id="nav-adjustments-tab" data-toggle="tab" href="#nav-adjustments" role="tab" aria-controls="nav-adjustments" aria-selected="false"><span>Adjustments</span></a>
        <a class="nav-item nav-link" id="nav-invoices-tab" data-toggle="tab" href="#nav-invoices" role="tab" aria-controls="nav-invoices" aria-selected="false"><span>Invoices</span></a>
        <a class="nav-item nav-link" id="nav-suppliers-tab" data-toggle="tab" href="#nav-suppliers" role="tab" aria-controls="nav-suppliers" aria-selected="false"><span>Suppliers</span></a>
      </div>
    </div>
    <div class='content-body'>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-warehouses" role="tabpanel" aria-labelledby="nav-warehouses-tab">
          <%- include('../../templates/panels/inventory-warehouses'); -%>
        </div>
        <div class="tab-pane fade" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">
          <%- include('../../templates/panels/inventory-items'); -%>
        </div>
        <div class="tab-pane fade" id="nav-receiving" role="tabpanel" aria-labelledby="nav-receiving-tab">
          <%- include('../../templates/panels/inventory-receiving'); -%>
        </div>
        <div class="tab-pane fade" id="nav-adjustments" role="tabpanel" aria-labelledby="nav-adjustments-tab">
          <%- include('../../templates/panels/inventory-adjustment'); -%>
        </div>
        <div class="tab-pane fade" id="nav-invoices" role="tabpanel" aria-labelledby="nav-invoices-tab">
          <%- include('../../templates/panels/inventory-invoice'); -%>
        </div>
        <div class="tab-pane fade" id="nav-suppliers" role="tabpanel" aria-labelledby="nav-suppliers-tab">
          <%- include('../../templates/panels/inventory-supplier'); -%>
        </div>
      </div>
    </div>
  </div>

  <% if (__FAB__ != '') { %>
  <%- include(__FAB__); -%>
  <% } %>