<% 
__VIEW_DIALOG_TITLE__ = 'Update List'
__VIEW_DIALOG_CONTENT__ = '/forms/new-settings-lists-form.html'
%>
<div class="page">
  <div class="page-wrapper">
    <div class="page-body">
      <div class='datatable'>
        <div class='datatable-wrapper'>
          <div class='datatable-toolbar'>
            <%- include('../../templates/toolbars/filter-settings-lists') -%>
          </div>
          <div class="datatable-body scroll-detector">
            <table class="datatables" style="width:100%">
              <thead>
                  <tr>
                      <th>List Name</th>
                      <th>List Items</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Code Status</td>
                      <td>Full</td>
                      <td><div class="table-actions">
                        <button
                          class='iconbtn info'
                          data-toggle='dialog'
                          data-type='ajax-form'
                          data-title='<%= __VIEW_DIALOG_TITLE__ %>'
                          data-content='<%= __VIEW_DIALOG_CONTENT__ %>'
                          data-size="modal-lg"
                        >
                          <i class="mdi mdi-pencil"></i>
                        </button>
                        <button data-toggle='remove-entry' class='iconbtn danger'><i class="mdi mdi-delete"></i></button>
                      </div></td>
                  </tr>
                  <tr>
                      <td>Dosages</td>
                      <td>5 mg, 10 mg, 25 mg, 50 mg, 100 mg, 150 mg</td>
                      <td><div class="table-actions">
                        <button
                          class='iconbtn info'
                          data-toggle='dialog'
                          data-type='ajax-form'
                          data-title='<%= __VIEW_DIALOG_TITLE__ %>'
                          data-content='<%= __VIEW_DIALOG_CONTENT__ %>'
                          data-size="modal-lg"
                        >
                          <i class="mdi mdi-pencil"></i>
                        </button>
                        <button data-toggle='remove-entry' class='iconbtn danger'><i class="mdi mdi-delete"></i></button>
                      </div></td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class='datatable-footer toolbar clean'>
            <%- include('../../templates/toolbars/datatable-pagination') -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>