<% 
__VIEW_DIALOG_TITLE__ = 'Update Location'
__VIEW_DIALOG_CONTENT__ = '/forms/new-settings-locations-form.html'
%>
<div class="page">
  <div class="page-wrapper">
    <div class="page-body">
      <div class='datatable'>
        <div class='datatable-wrapper'>
          <div class='datatable-toolbar'>
            <%- include('../../templates/toolbars/filter-settings-locations') -%>
          </div>
          <div class="datatable-body scroll-detector">
            <table class="datatables" style="width:100%">
              <thead>
                  <tr>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Trans. Code</th>
                      <th>Indent</th>
                      <th>Warehouse</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>LLC</td>
                    <td>Cosmpolitan Memorial Hospital</td>
                    <td>Basak, Lapu-Lapu City</td>
                    <td>LLC-TRANS</td>
                    <td>1</td>
                    <td>Lapu-Lapu</td>
                    <td>
                      <div class="table-actions">
                        <button
                          class='iconbtn info'
                          data-toggle='dialog'
                          data-type='ajax-form'
                          data-title='<%= __VIEW_DIALOG_TITLE__ %>'
                          data-content='<%= __VIEW_DIALOG_CONTENT__ %>'
                          data-size="modal-lg"
                        >
                          <i class="mdi mdi-pencil"></i>
                        </button>
                        <button data-toggle='remove-entry' class='iconbtn danger'><i class="mdi mdi-delete"></i></button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>MA</td>
                    <td>Medical Arts</td>
                    <td>Chonghua Medical Arts, Cebu City</td>
                    <td>M</td>
                    <td>0.6</td>
                    <td>Main Warehouse</td>
                    <td>
                      <div class="table-actions">
                        <button
                          class='iconbtn info'
                          data-toggle='dialog'
                          data-type='ajax-form'
                          data-title='<%= __VIEW_DIALOG_TITLE__ %>'
                          data-content='<%= __VIEW_DIALOG_CONTENT__ %>'
                          data-size="modal-lg"
                        >
                          <i class="mdi mdi-pencil"></i>
                        </button>
                        <button data-toggle='remove-entry' class='iconbtn danger'><i class="mdi mdi-delete"></i></button>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class='datatable-footer toolbar clean'>
            <%- include('../../templates/toolbars/datatable-pagination') -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>